<div class="form-container">
    <h2>{{ isEditMode() ? 'Edit' : 'Create' }} Book</h2>
    
    <form [formGroup]="bookForm" (ngSubmit)="save()">
    <div class="form-group">
        <label>Title</label>
        <input formControlName="title" type="text" placeholder="Enter book title" />
        @if (bookForm.get('title')?.touched && bookForm.get('title')?.errors?.['required']) {
            <small class="error">Please enter the book title.</small>
        }
        @if (bookForm.get('title')?.errors?.['minlength']) {
            <small class="error">Title is too short (min 3 chars).</small>
        }
    </div>

    <div class="form-group">
        <label>Author</label>
        <input formControlName="author" type="text" placeholder="Enter book author" />
        @if (bookForm.get('author')?.touched && bookForm.get('author')?.errors?.['required']) {
            <small class="error">Please enter the book author.</small>
        }
        @if (bookForm.get('author')?.errors?.['minlength']) {
            <small class="error">Author is too short (min 3 chars).</small>
        }
    </div>

    <div class="form-group">
        <label>Category</label>
        <input formControlName="category" type="text" placeholder="Enter book category" />
        @if (bookForm.get('category')?.touched && bookForm.get('category')?.errors?.['required']) {
            <small class="error">Please enter the book category.</small>
        }
        @if (bookForm.get('category')?.errors?.['minlength']) {
            <small class="error">Category is too short (min 3 chars).</small>
        }
        
    </div>

    <div class="form-group">
        <label>Published Year</label>
        <input formControlName="publishedYear" type="number" placeholder="Enter published year" />
        @if (bookForm.get('publishedYear')?.touched && bookForm.get('publishedYear')?.errors?.['required']) {
            <small class="error">Please enter the published year.</small>
        }
        @if(bookForm.get('publishedYear')?.errors?.['pattern']) {
            <span class="error">Must be 4 digits</span>
        }
    </div>

    <div class="form-group-chk">
        <label>
            <input formControlName="available" type="checkbox" />
            Available
        </label>
    </div>

    <div class="actions">
        <a routerLink="/books" class="btn-cancel">Cancel</a>
        <button type="submit" [disabled]="bookForm.invalid || isSaving()">
        {{ isSaving() ? 'Saving...' : 'Save Book' }}
        </button>
    </div>
    </form>
</div>